body {
  font-family: 'Roboto', sans-serif;
}
li {
  font-family: sans-serif;
  font-size: 13px;
  margin: 0 10px;
  display: inline;
  padding: 0px;
}
a {
  text-decoration: none;
  color: #404040;
}
a:hover {
  color: black;
}
footer {
  position: fixed;
  background-color: #f2f2f2;
  font-size: 14px;
  font-family: arial;
  bottom: 0px;
  width: 100%;
  padding: 15px;

}
ul {
  padding-left: 150px;
  margin-bottom: 0;
  display: inline;
}
.header {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  margin-top: -10px;
}
.right {
  float: right;
  display: flex;
}
input {
  width: 600px;
  height: 35px;
}
.google {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 42px;
  margin-bottom: -10px;
}
form {
  display: inline;
}
.form {
  margin-top: 0;
}
.choose {
  border-bottom: 1px solid #cecece;
  padding-bottom: 15px;
}
.center {
  margin-left: 165px;
  margin-right: 450px;
}
.green {
  color: #00663a;
  font-size: 15px;
}
.paragraph {
  margin-top: 20px;
}
a:visited {
  color: #660099;
}
a {
  color: black;
}
.link {
  font-size: 18px;
  color: #660099;
}
.darkText, .date {
  font-size: 14px;
  color: #545664;
}
.zero {
  color: #818486
  font-size: 10px;
}
.footer {
  position: absolute;
}
